doctype html
html
	head
		title «V-events - Club»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/frame
		include includes/club
		include includes/footer

		+frame(["club", "footer"])
		+club()
		+footer()