doctype html
html
	head
		title «V-events - Company»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/frame
		include includes/company
		include includes/principles
		include includes/footer

		+frame(["company", "principles", "footer"])
		+company()
		+principles('company')
		+footer()

		script(src='js/jquery-3.0.0.min.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/slick.min.js')
		script(src='js/script.js')