doctype html
html
	head
		title «V-events - Contacts»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/frame
		include includes/contacts
		include includes/footer
		include includes/form

		-
			var contactsForm = {
			"title": "The Brief",
			"textInputs": [
				"Patronymic",
				"Company",
				"Position",
				"Telephone",
				"E-mail"
			],
			"textarea": {
				"title": "Short Description",
				"bold": true
			},
			"permit": false,
			"button": "Send"
			}

		+frame(["contacts", "footer"])
		+contacts().js-blur
		+form(contactsForm).popup.js-popup#letter
		+footer()