doctype html
html
	head
		title «V-events»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/frame
		include includes/promo
		include includes/news
		include includes/portfolio
		include includes/principles
		include includes/footer

		+frame(["promo", "news", "portfolio", "principles", "footer"])
		+promo(
			'promo',
			[
				{
					"img": "promo-img-2",
					"person": "<span>Егор Горшков,</span><br><span>генеральный директор V-events</span>",
					"slogan": "<span>Мы не делаем мероприятия</span><br><span>Мы создаем <a href='#'>события</a></span>"
				},
				{
					"img": "promo-img-4",
					"person": "<span>Вахтанг Вахтангишвили, </span><br><span>креативный директор V-events</span>",
					"slogan": "<span>Мой event – это свобода,</span><br><span>за </span><span>которую </span><span>несешь </span><span>колоссальную </span><span>ответственность.</span>"
				},
				{
					"img": "promo-img-3",
					"person": "<span>Александра Кравченко,</span><br><span>руководитель группы event-проектов V-events</span>",
					"slogan": "<span>Event </span><span>– </span><span>это </span><span>жизнь </span><span>в </span><span>прямом </span><span>эфире.</span>"
				},
				{
					"img": "promo-img-4",
					"person": "<span>Николай Михайлов,</span><br><span>project-менеджер V-events</span>",
					"slogan": "<span>Для </span><span>меня </span><span>это </span><span>профессия </span><span>открытий.</span><br><span>Людей. </span><span>Мира. </span><span>Себя.</span>"
				},
				{
					"img": "promo-img-4",
					"person": "<span>Александр Дубравин,</span><br><span>project-менеджер V-events</span>",
					"slogan": "<span>Быть </span><span>точным, </span><span>осмысленным </span><span>и </span><span>ясным.</span>"
				},
				{
					"img": "promo-img-4",
					"person": "<span>Борис Шипулин,</span><br><span>балетмейстер V-events</span>",
					"slogan": "<span>Событие </span><span>всегда </span><span>в </span><span>движении, </span><span>и </span><span>оно </span><span>будет </span><span>таким, </span><span>каким </span><span>я </span><span>его </span><span>создам.</span><br><span>Это </span><span>вдохновляет.</span>"
				}
			]
		)
		+news(["1", "2", "3"])
		+portfolio()
		+principles()
		+footer()

		script(src='js/jquery-3.0.0.min.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/slick.min.js')
		script(src='js/script.js')