doctype html
html
	head
		title «V-events»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/frame
		include includes/promo
		include includes/news

		+frame()
		+promo(
			'promo',
			[
				{
					"img": "promo-img-1",
					"person": "Constantine Constantinopolsky,<br>art director",
					"slogan": "<span>Мы не организуем вечеринки</span><br><span>Мы создаем <a href='#'>события</a></span>"
				},
				{
					"img": "promo-img-1",
					"person": "Constantine Constantinopolsky,<br>art director",
					"slogan": "<span>Мы не организуем вечеринки</span><br><span>Мы создаем <a href='#'>события</a></span>"
				},
				{
					"img": "promo-img-1",
					"person": "Constantine Constantinopolsky,<br>art director",
					"slogan": "<span>Мы не организуем вечеринки</span><br><span>Мы создаем <a href='#'>события</a></span>"
				}
			]
		)
		+news(["1", "2", "3"])

		script(src='js/jquery-3.0.0.min.js')
		script(src='js/slick.min.js')
		script(src='js/script.js')