doctype html
html
	head
		title «V-events»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/frame
		include includes/promo
		include includes/news
		include includes/portfolio
		include includes/principles
		include includes/footer

		+frame(["promo", "news", "portfolio", "principles", "footer"])
		+promo(
			'promo',
			[
				{
					"img": "promo-img-1",
					"person": "<span>Constantine Constantinopolsky,</span><br><span>art director</span>",
					"slogan": "<span>Мы не делаем мероприятия</span><br><span>Мы создаем <a href='#'>события</a></span>"
				},
				{
					"img": "promo-img-1",
					"person": "<span>Constantine Constantinopolsky,</span><br><span>art director</span>",
					"slogan": "<span>Мы не делаем мероприятия</span><br><span>Мы создаем <a href='#'>события</a></span>"
				},
				{
					"img": "promo-img-1",
					"person": "<span>Constantine Constantinopolsky,</span><br><span>art director</span>",
					"slogan": "<span>Мы не делаем мероприятия</span><br><span>Мы создаем <a href='#'>события</a></span>"
				}
			]
		)
		+news(["1", "2", "3"])
		+portfolio()
		+principles()
		+footer()

		script(src='js/jquery-3.0.0.min.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/slick.min.js')
		script(src='js/script.js')