.btn-more {
	display: inline-block;
	vertical-align: top;
	@include font-fpt-book();
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	min-width: 111px;
	border: 2px solid #000;
	padding: 8px 6px;
	box-sizing: border-box;

	&:hover {
		text-decoration: underline;
	}
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 11px 10px;
	min-width: 165px;
	box-sizing: border-box;
	background: #2a9d5c;
	@include font-fpt-medium();
	font-size: 16px;
	line-height: 1.125em;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	&:hover {
		text-decoration: underline;
	}

	@media (max-width: 999px) {
		font-size: 24px;
		padding-top: 16px;
		padding-bottom: 16px;
		min-width: 248px;
	}
}