.cases {
	width: 100%;
	padding-bottom: 48px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: flex-end;

	&__slider {
		width: calc(50% - 48px);
		position: fixed;
		top: 48px;
		bottom: 48px;
		left: 48px;

		@media (min-width: 1000px) {

			&._down {
				width: 50%;
				position: absolute;
				top: auto;
				bottom: 48px;
				left: 0;
				height: calc(100vh - 96px);
			}
		}

		.slick-list,
		.slick-track {
			height: 100%;
		}

		.slider-nav {
			border-color: #fff;
		}

		.slick-dots {
			bottom: 53px;

			li {
				width: 8px;
				height: 8px;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				&.slick-active {
					background: #3aaa35;
				}
			}
		}
	}

	&__slide {
		height: 100%;
		width: 100%;


		&-content {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 100px;
			box-sizing: border-box;

			h3 {
				max-width: 100%;
				@include font-fpt-medium();
				font-size: 16px;
				line-height: 1.2em;
				color: #fff;
				font-weight: 400;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 30px;
			}

			h2 {
				max-width: 100%;
				@include font-rp-medium();
				font-size: 66px;
				line-height: 1.2em;
				color: #fff;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			img {
				display: block;
				max-width: 100%;
			}
		}
	}

	&__wrapper {
		width: 50%;
		min-height: calc(100vh - 96px);
		background: #f4f4f4;
	}

	&__content {
		max-width: 532px;
		margin: 0 auto;
		padding: 150px 0;
		text-align: center;

		h2 {
			@include font-fpt-bold();
			font-size: 30px;
			line-height: 1.2em;
			font-weight: 400;
			text-align: left;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}

	&__text {
		margin-bottom: 45px;
		box-sizing: content-box;
		@include font-gp-pro();
		font-size: 14px;
		line-height: 1.286em;
		color: #000;
		text-align: left;

		p {
			margin: 18px 0;
			text-align: justify;
			max-width: 100%;
		}

		ul {
			margin-bottom: 18px;
		}

		b {
			@include font-fpt-bold();
			font-weight: 400;
		}

		li {
			text-indent: 0;
			padding-left: 10px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 7px;
				left: 0;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: #000;
			}
		}
	}

	&__list {
		font-size: 0;
		text-align: left;

		&-item {
			display: inline-block;
			vertical-align: top;
			width: 31.2%;
			margin-bottom: 30px;
			margin-right: 3.2%;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		&-link {
			display: block;
			text-decoration: none;

			&:hover {

				h4 {
					text-decoration: underline;
				}
			}
		}

		&-image {
			height: 166px;
			background-size: cover;
			background-position: center center;
			margin-bottom: 20px;
		}

		h4 {
			@include font-fpt-book();
			font-size: 14px;
			line-height: 1.2em;
			color: #000;
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	@media only screen and (max-width: 1919px) {

		&__content {
			padding: 110px 0;
		}
	}

	@media only screen and (max-width: 1365px) {

		&__content {
			padding: 80px 0;
			max-width: 350px;

			h2 {
				margin-bottom: 15px;
			}
		}

		&__text {
			margin-bottom: 25px;
		}

		&__list {

			&-item {
				width: 47.4%;
				margin-right: 5.2%;

				&:nth-child(3n) {
					margin-right: 5.2%;
				}

				&:nth-child(2n) {
					margin-right: 0;
				}
			}

			&-image {
				height: 117px;
			}
		}

		&__slide {

			&-content {

				h3 {
					margin-bottom: 10px;
				}
			}
		}
	}

	@media only screen and (max-width: 999px) {
		display: block;

		&__wrapper {
			width: 100%;
			min-height: 0;
		}

		&__content {
			max-width: 544px;
			padding: 65px 0 60px;
		}

		&__text {
			margin-bottom: 35px;
		}

		&__list {

			&-item {
				width: 31.2%;
				margin-bottom: 25px;
				margin-right: 3.2%;

				&:nth-child(2n) {
					margin-right: 3.2%;
				}

				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}

		&__slider {
			position: relative;
			width: 100%;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
		}

		&__slide {

			&-content {
				height: 504px;

				h2 {
					margin-bottom: 35px;
				}
			}
		}

		.slick-dots {
			bottom: 30px;

			li {
				width: 7px;
				height: 7px;
				margin-right: 7px;

				&:last-child {
					margin-right: 0;
				}

				&.slick-active {
					background: #3aaa35;
				}
			}
		}
	}

	@media only screen and (max-width: 767px) {

		&__content {
			max-width: 100%;
			padding: 45px 45px 30px;

			h2 {
				font-size: 20px;
				margin-bottom: 20px;
			}
		}

		&__text {
			margin-bottom: 30px;
		}

		&__list {

			&-item {
				display: block;
				margin-right: 0 !important;
				width: auto;
			}

			&-image {
				height: 166px;
			}
		}

		&__slide {

			&-content {
				height: 266px;
				padding: 0 50px;

				h3 {
					font-size: 14px;
					margin-bottom: 20px;
				}

				h2 {
					font-size: 37px;
				}

				img {
					display: none;
				}
			}
		}

		.slick-dots {
			bottom: 25px;
		}
	}

	@media only screen and (max-width: 600px) {
		padding-bottom: 0;
	}
}