.company {
	padding-top: 150px;
	margin-bottom: 160px;
	overflow: hidden;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 383px;
		left: 50%;
		margin-left: -100px;
		width: 0;
		height: 0;
		border-left: 100px solid #2a9d5c;
		border-bottom: 100px solid #2a9d5c;
		border-top: 100px solid transparent;
		border-right: 100px solid transparent;
		z-index: -1;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 50px;
		right: 50%;
		margin-right: 120px;
		width: 0;
		height: 0;
		border-right: 247px solid #f39200;
		border-bottom: 247px solid #f39200;
		border-top: 247px solid transparent;
		border-left: 247px solid transparent;
		z-index: -2;
		filter: blur(9px);
	}

	&__container {
		max-width: 840px;
		margin: 0 auto;
	}

	&__title {
		@include font-fpt-bold();
		font-size: 55px;
		line-height: 1em;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 120px;
	}

	&__definition {
		float: left;
		width: 400px;
		margin-top: 95px;
		@include font-fpt-book();
		font-size: 44px;
		line-height: .95em;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__text {
		@include font-gp-pro();
		font-size: 16px;
		line-height: 1.125em;
		width: 400px;
		position: relative;
		margin: 0 0 20px;

		&._left {
			float: left;
		}

		&._right {
			float: right;
			clear: right;
		}
	}

	&__down {
		clear: both;
	}

	&__subtitle {
		float: left;
		width: 400px;
		margin: 290px 0 35px;
		@include font-fpt-medium();
		font-size: 18px;
		line-height: 1em;
		text-transform: uppercase;
		position: relative;
	}

	&__image {
		float: right;
		clear: right;
		margin-top: 150px;
		margin-bottom: 40px;
		width: 400px;
		line-height: 0;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: -45px;
			right: 200px;
			z-index: -1;
			width: 969px;
			height: 604px;
			background: rgba(241,241,241,.78);

		}

		img {
			float: right;
			margin-right: -78px;
		}
	}

	&__signature {
		clear: both;
		float: right;
		width: 400px;
		@include font-gp-pro-it();
		font-size: 15px;
		line-height: 1.2em;
	}

	@media (max-width: 1919px) {

		&:before {
			margin-left: -50px;
		}

		&:after {
			margin-right: 80px;
		}

		&__container {
			padding-left: 90px;
		}
	}

	@media (max-width: 1365px) {
		margin-bottom: 110px;

		&:before {
			top: 393px;
			margin-left: -90px;
		}

		&:after {
			bottom: 100px;
			margin-right: 90px;
		}

		&__title {
			padding-left: 110px;
		}

		&__container {
			max-width: 800px;
			padding-left: 0;
			padding-right: 20px;
			box-sizing: border-box;
		}

		&__definition {
			margin-top: 0;
			width: 380px;
		}

		&__text {
			width: 360px;
		}

		&__subtitle {
			margin-top: 225px;
			width: 350px;
		}

		&__signature {
			width: 360px;
		}

		&__image {
			margin-top: 115px;
			position: static;

			&:before {
				width: calc(100vw - 96px);
				top: auto;
				margin-top: -45px;
				right: 0;
			}
		}
	}

	@media (max-width: 999px) {
		padding-top: 110px;

		&:before {
			top: 300px;
		}

		&:after {
			display: none;
		}

		&__container {
			padding: 0 70px;
			max-width: 100%;
		}

		&__title {
			padding-left: 15px;
			margin-bottom: 80px;
		}

		&__up {
			margin-bottom: 60px;
		}

		&__definition {
			width: 290px;
			font-size: 32px;
			line-height: 1em;
		}

		&__text {
			width: 290px;
		}

		&__down {
			margin: 0 -22px;
			padding: 60px 66px 78px 78px;
			background: #f1f1f1;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 283px;
				right: 38px;
				width: 0;
				height: 0;
				border-left: 100px solid #f39200;
				border-bottom: 100px solid #f39200;
				border-top: 100px solid transparent;
				border-right: 100px solid transparent;
			}

			&:after {
				content: '';
				display: block;
				clear: none;
				position: absolute;
				top: 50%;
				margin-top: 95px;
				left: 56px;
				width: 0;
				height: 0;
				border-top: 39px solid #0084cb;
				border-right: 39px solid #0084cb;
				border-bottom: 39px solid transparent;
				border-left: 39px solid transparent;
			}

			.company {

				&__text {
					float: none;
					width: auto;
					position: relative;
					z-index: 1;
				}
			}
		}

		&__image {
			margin-top: 0;
			margin-bottom: 50px;
			height: 247px;
			float: none;
			width: auto;
			background: #fff;
			z-index: 1;
			position: relative;

			&:before {
				display: none;
			}

			img {
				height: 100%;
				float: none;
				margin: 0;
				display: inline-block;
				vertical-align: top;
			}
		}

		&__subtitle {
			margin: 0 0 18px;
			float: none;
			width: auto;
			@include font-gp-pro();
			font-size: 16px;
			line-height: 1.125em;
			text-transform: none;
		}

		&__signature {
			float: none;
			width: auto;
		}
	}

	@media (max-width: 767px) {

	}
}