.down {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;

	&__link {
		display: block;
		padding-left: 11px;
		@include font-fpt-medium();
		font-size: 11px;
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;
		cursor: default;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 3px;
			margin-top: -4px;
			height: 8px;
			width: 1px;
			background: #000;
			transform: translateY(0);
			animation: arrow-before 1s infinite;
		}

		&:after {
			content: '';
			position: absolute;
			top: 6px;
			left: 1px;
			width: 4px;
			height: 4px;
			border-left: 1px solid #000;
			border-bottom: 1px solid #000;
			transform: translateY(0) rotate(-45deg);
			animation: arrow-after 1s infinite;
		}

		&._scrollup {
			cursor: pointer;

			&:before {
				animation: none;
			}

			&:after {
				top: auto;
				bottom: 6px;
				transform: rotate(135deg);
				animation: none;
			}
		}
	}

	@media (max-width: 999px) {
		display: none;
	}
}

@keyframes arrow-before {

	50% {
		transform: translateY(2px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes arrow-after {

	50% {
		transform: translateY(2px) rotate(-45deg);
	}

	100% {
		transform: translateY(0) rotate(-45deg);
	}
}