/*fonts*/
@font-face {
	font-family: Proxima-Nova-Reg;
	src: url(../fonts/proxima_nova_regular-webfont.woff);
	font-weight: normal;
}

@font-face {
	font-family: Proxima-Nova-Reg;
	src: url(../fonts/proxima_nova_regular-webfont.woff2);
	font-weight: normal;
}

@font-face {
	font-family: Proxima-Nova-Semibold;
	src: url(../fonts/proxima_nova_semibold-webfont.woff);
	font-weight: normal;
}

@font-face {
	font-family: Proxima-Nova-Semibold;
	src: url(../fonts/proxima_nova_semibold-webfont.woff2);
	font-weight: normal;
}

//molnia
@font-face {
	font-family: 'MolniaPro-Medium';
	src: url('../fonts/molnia-pro-medium-webfont.woff2') format('woff2'),
		 url('../fonts/molnia-pro-medium-webfont.woff') format('woff');
}

@font-face {
	font-family: 'MolniaPro-Bold';
	src: url('../fonts/molnia-pro-bold-webfont.woff2') format('woff2'),
		 url('../fonts/molnia-pro-bold-webfont.woff') format('woff');
}
/*end of fonts*/