@font-face {
	font-family: FuturaPTMedium;
	src: url(../fonts/FuturaPTMedium.woff2),
		 url(../fonts/FuturaPTMedium.woff);
	font-weight: normal;
}

@mixin font-fpt-medium() {
	font-family: FuturaPTMedium, sans-serif;
}

@font-face {
	font-family: RistrettoPro-Medium;
	src: url(../fonts/ristrettopro-medium.woff2),
		 url(../fonts/ristrettopro-medium.woff);
	font-weight: normal;
}

@mixin font-rp-medium() {
	font-family: RistrettoPro-Medium, sans-serif;
}

@font-face {
	font-family: FuturaPTBook;
	src: url(../fonts/FuturaPTBook.woff2),
		 url(../fonts/FuturaPTBook.woff);
	font-weight: normal;
}

@mixin font-fpt-book() {
	font-family: FuturaPTBook, sans-serif;
}

@font-face {
	font-family: FuturaPTDemi;
	src: url(../fonts/FuturaPTDemi.woff2),
		 url(../fonts/FuturaPTDemi.woff);
	font-weight: normal;
}

@mixin font-fpt-demi() {
	font-family: FuturaPTDemi, sans-serif;
}

@font-face {
	font-family: GaramondPremrPro;
	src: url(../fonts/GaramondPremrPro.woff2),
		 url(../fonts/GaramondPremrPro.woff);
	font-weight: normal;
}

@mixin font-gp-pro() {
	font-family: GaramondPremrPro, sans-serif;
}

@font-face {
	font-family: FuturaPTCondBold;
	src: url(../fonts/FuturaPTCondBold.woff2),
		 url(../fonts/FuturaPTCondBold.woff);
	font-weight: normal;
}

@mixin font-ftp-cond-bold() {
	font-family: FuturaPTCondBold, sans-serif;
}