.footer {
	font-size: 0;
	padding-bottom: 48px;

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		padding-bottom: 456/1824*100%;
		line-height: 0;
		overflow: hidden;
		position: relative;

		&:before,
		&:after {
			opacity: 0;
			content: '';
			position: absolute;
			z-index: 1;
			top: 24px;
			bottom: 24px;
			width: 6px;
			background: linear-gradient(to bottom, #67912e, #f39200);
			transition: opacity .5s;
		}

		&:before {
			left: 20px;
		}

		&:after {
			right: 20px;
		}

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			transition: transform .5s;
		}

		&:hover {

			&:before,
			&:after {
				opacity: 1;
			}

			.footer {

				&__item {

					&-bg {
						transform: scale(1.1);
					}
				}
			}

			h4 {
				background: rgba(52,19,96,.7);

				&:before {
					opacity: 1;
				}

				span {
					opacity: 1;
				}
			}
		}

		h4 {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: transparent;
			@include font-fpt-cond-bold();
			font-size: 45px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-align: center;
			transition: background .5s;

			&:before,
			&:after {
				opacity: 0;
				content: '';
				position: absolute;
				left: 24px;
				right: 24px;
				height: 6px;
                transition: opacity .5s;
			}

			&:before {
				top: 24px;
				background: #67912e;
			}

			&:after {
				bottom: 24px;
				background: #f39200;
			}

            &:hover {

                &:before,
                &:after {
                    opacity: 1;
                }
            }

			span {
				opacity: 0;
				position: absolute;
				bottom: 32px;
				left: 50%;
				transform: translateX(-50%);
				@include font-fpt-book();
				font-size: 14px;
				text-transform: uppercase;
				transition: opacity .5s;
			}
		}

		img {
			width: 100%;
		}
	}

	@media (max-width: 1919px) {

		&__item {
			width: 50%;
			padding-bottom: 228px;

			br {
				display: none;
			}
		}
	}

	@media (max-width: 1365px) {

		&__item {

			h4 {
				font-size: 30px;
			}
		}
	}

	@media (max-width: 999px) {
		padding: 0 48px 48px;

		&__item {

			h4 {
				font-size: 20px;
			}
		}
	}

	@media (max-width: 767px) {
		padding: 0;

		&__item {
			width: 100%;

			h4 {
				font-size: 20px;
			}
		}
	}
}