.footer {
	font-size: 0;
	padding-bottom: 48px;

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		line-height: 0;
		position: relative;

		h4 {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			@include font-ftp-cond-bold();
			font-size: 45px;
			line-height: 1.2em;
			font-weight: 400;
			color: #fff;
			text-align: center;
		}

		img {
			width: 100%;
		}
	}
}