/*form*/
.form {
  position: relative;

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &--tel {
      letter-spacing: .25em;
    }
  }

  &__error {
    position: absolute;
    top: -53px;
  }

  &__has-error {
    border-color: $color-red-radical;
  }
}
/*/form*/