.lang {
  display: flex;
  align-items: center;
  line-height: 0;

  img {
		display: inline-block;
		vertical-align: middle;
    margin-right: 6px;
  }

  &__item {
    display: none;
    @include font-fpt-medium();
    font-size: 11px;
    line-height: 1.2em;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #000;
    &:hover {
      border-bottom-color: transparent;
    }

    &._show {
      display: inline-block;
			vertical-align: middle;
    }
  }

  &._nav {
		display: none;

		.lang {

			&__item {
				@include font-fpt-book();
				font-size: 26px;
				line-height: 1.2em;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				border-bottom-color: transparent;
				&:hover {
					border-bottom: 1px solid #fff;
				}
			}
		}
	}

	@media (max-width: 767px) {
		display: none;

		&._nav {
			display: block;
		}
	}
}