.news {
	padding-bottom: 48px;
	margin-bottom: 87px;

	&__title {
		max-width: 680px;
	}

	&__container {
		margin: 0 auto;
		max-width: 680px;
	}

	&__text {

		h4 {
			max-width: 460px;
			margin-bottom: 15px;
			@include font-fpt-demi();
			font-size: 27px;
			line-height: 1em;
			font-weight: 400;
			text-transform: uppercase;
		}

		p {
			max-width: 460px;
			margin: 15px 0;
			@include font-gp-pro;
			font-size: 16px;
			line-height: 1.1em;
		}

		a {
			color: #ee7201;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__image {
		margin: 63px 0;
		text-align: center;
		line-height: 0;

		&._xs {
			display: none;
		}

		img {
			display: inline-block;
			vertical-align: top;
			max-width: 100%;
		}
	}

	&__more {
		text-align: right;
	}

	.slider-nav {
		position: absolute;
		top: 50%;
		z-index: 1;
		margin-top: -6px;
		display: block;
		width: auto;
		height: auto;
		min-width: 9px;
		min-height: 9px;
		padding: 0;
		border: none;
		outline: none;
		background: transparent;
		transform: none;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -5px;
			left: 50%;
			margin-left: -5px;
			z-index: 1;
			width: 7px;
			height: 7px;
			border-left: 2px solid #000;
			border-bottom: 2px solid #000;
		}

		&._prev {
			left: 95px;

			&:before {
				transform: rotate(45deg);
			}

			p {
				left: -2px;
			}
		}

		&._next {
			right: 195px;

			&:before {
				transform: rotate(225deg);
			}

			p {
				left: 3px;
			}
		}

		p {
			position: absolute;
			top: 17px;
			display: block;
			width: 100px;
			font-size: 0;

			span {
				display: inline-block;
				vertical-align: top;
				margin-bottom: 2px;
				padding: 0 2px;
				background: #000;
				@include font-fpt-book();
				font-size: 14px;
				line-height: 18px;
				color: #fff;
			}
		}
	}

	@media (max-width: 1919px) {

		.slider-nav {

			&._prev {
				left: 50px;
			}

			&._next {
				right: 150px;
			}
		}
	}

	@media (max-width: 1365px) {
		margin-bottom: 34px;

		&__title {
			max-width: 636px;
		}

		&__container {
			max-width: 636px;
		}

		.slider-nav {

			&._prev {
				left: 53px;
			}

			&._next {
				right: 53px;
			}

			&._prev,
			&._next {

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -21px;
					margin-left: -21px;
					width: 42px;
					height: 42px;
					background: #f5f5f5;
					transform: rotate(45deg);
				}
			}

			p {
				display: none;
			}
		}
	}

	@media (max-width: 1024px) {

		&__image {
			margin-left: auto;
			margin-right: auto;
			width: 86%;
		}

		&__more {
			text-align: center;
		}
	}

	@media (max-width: 767px) {
		padding: 0 48px;
		margin-bottom: 80px;

		&__title {
			max-width: 490px;
		}

		&__container {
			max-width: 490px;
		}

		&__image {
			width: auto;
		}

		.slider-nav {

			&._prev {
				left: -17px;
			}

			&._next {
				right: -17px;
			}
		}
	}

	@media (max-width: 600px) {

		.slick-dots {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 70px;
			font-size: 0;

			li {
				display: inline-block;
				vertical-align: top;
				margin-right: 4px;
				width: 7px;
				height: 7px;
				border: 1px solid #000;
				border-radius: 50%;
				background: #fff;
				cursor: pointer;

				&:last-child {
					margin-right: 0;
				}

				button {
					display: none;
				}

				&.slick-active {
					background: #000;
				}
			}
		}
	}

	@media (max-width: 335px) {
		padding: 0;
		margin-bottom: 66px;

		&__title {
			padding: 0 30px;
		}

		&__item {
			padding: 0 30px;
		}

		&__image {
			display: none;
			margin: 33px -30px 60px;

			&._xs {
				display: block;
			}
		}
	}
}