.page-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    width: 8px;
    height: 8px;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid #000;
    
    &._active {
      border-color: transparent;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        height: 1px;
        background: #000;
      }
    }
  }

  @media (max-width: 999px) {
    display: none;
  }
}