.popup-simple {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: rgba(0,0,0,.89);
	overflow: auto;

	&._show {
		display: block;
	}

	&__close {
		position: absolute;
		top: -28px;
		right: -28px;
		width: 56px;
		height: 56px;
		transform: rotate(45deg);
		z-index: 1;
		background: #2a9d5c;
		border-radius: 50%;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: 11px;
			left: 27px;
			bottom: 0;
			width: 1px;
			height: 34px;
			background: #fff;
		}

		&:after {
			content: '';
			position: absolute;
			top: 27px;
			left: 11px;
			right: 0;
			width: 34px;
			height: 1px;
			background: #fff;
		}
	}

	&__container {
		width: 100%;
		height: 100%;
		padding: 40px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		line-height: 0;
		max-height: 100%;
		position: relative;

		img {
			max-height: calc(100vh - 80px);
			max-width: 100%;
		}
	}
}