.portfolio {
	padding-bottom: 48px;
	margin-bottom: 147px;

	&__select {
		max-width: 680px;
		margin: 0 auto 39px;
		@include font-fpt-book();
		font-size: 55px;
		line-height: 1em;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__list {
		display: none;
		font-size: 0;
		text-align: left;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		text-decoration: none;
		overflow: hidden;
		position: relative;

        &:before,
        &:after {
            opacity: 0;
            content: '';
            position: absolute;
            z-index: 1;
            top: 24px;
            bottom: 24px;
            width: 6px;
            background: linear-gradient(to bottom, #67912e, #f39200);
            transition: opacity .5s;
        }

        &:before {
            left: 24px;
        }

        &:after {
            right: 24px;
        }

		img {
			width: 100%;
			transition: transform .5s;
		}

		&:hover {

            &:before,
            &:after {
                opacity: 1;
            }

			img {
				transform: scale(1.1);
			}
		}

		&-title {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 30px;
			@include font-fpt-medium();
			font-size: 26px;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			background: rgba(52,19,96,.8);
			display: flex;
			justify-content: center;
			align-items: center;
			transition: opacity .5s;

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 24px;
                right: 24px;
                height: 6px;
            }

            &:before {
                top: 24px;
                background: #67912e;
            }

            &:after {
                bottom: 24px;
                background: #f39200;
            }

			span {
				position: absolute;
				bottom: 55px;
				left: 50%;
				transform: translateX(-50%);
				font-size: 15px;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	&__more {
		display: none;
	}

	@media (max-width: 1919px) {
		margin-bottom: 95px;

		&__select {
			max-width: 636px;
			margin-bottom: 57px;
		}

		&__item {
			width: 25%;

			&:nth-child(n+9) {
				display: none;
			}
		}
	}

	@media (max-width: 1365px) {
		margin-bottom: 51px;
		text-align: center;

		&__item {
			width: 33.33333%;

			&:nth-child(n+7) {
				display: none;
			}
		}

		&__more {
			display: block;
			margin-top: 65px;
			text-align: center;
		}

		&__select {
			display: inline-block;
			vertical-align: top;
			text-align: left;
			margin-bottom: 61px;
		}
	}

	@media (max-width: 999px) {
		padding: 0 48px;
		margin-bottom: 87px;

		&__select {
			display: block;
			max-width: 100%;
			padding-left: 51px;
			margin-bottom: 56px;
		}

		&__list {
			margin-left: -48px;
			margin-right: -48px;
		}

		&__more {
			margin-top: 68px;
		}
	}

	@media (max-width: 767px) {
		padding: 0 35px;
		margin-bottom: 96px;

		&__select {
			padding: 0;
			font-size: 28px;
			margin-bottom: 31px;
		}

		&__list {
			margin: 0 -35px;
		}

		&__item {
			width: 100%;

			&:nth-child(n+5) {
				display: none;
			}

			&-title {
				font-size: 20px;
			}
		}

		&__more {
			margin-top: 70px;
		}
	}
}