.principles {
	padding-bottom: 48px;
	margin-bottom: 90px;

	&__title {
		margin: 0 auto 50px;
		max-width: 680px;

		&._company {
			max-width: 100%;
			margin-bottom: 90px;
			@include font-fpt-bold();
			font-size: 40px;
			line-height: 1em;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
		}
	}

	&__photo {
		text-align: center;
		margin-bottom: 40px;

		img {
			max-width: 100%;
			display: inline-block;
			vertical-align: top;
			margin-left: 22%;
		}
	}

	&__list {
		margin: 0 auto 106px;
		max-width: 800px;
	}

	&__item {
		width: 43%;

		&._trust {
			margin: 0 0 75px;
		}

		&._responsibility {
			margin: 100px 0 75px;
		}

		&._opennes {
			margin-top: 75px;
		}

		&._uncompromising {
			margin-top: 66px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&._left {
			float: left;
		}

		&._right {
			float: right;
		}

		&._image {
			margin: 0;
		}

		h4 {
			@include font-fpt-cond-bold();
			font-size: 26px;
			line-height: 1.1em;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 15px;
			position: relative;

			img,
			svg {
				position: absolute;
				top: 7px;
				left: -25px;
				display: inline-block;
				vertical-align: baseline;
				width: 16px;
			}
		}

		p {
			@include font-fpt-book();
			font-size: 14px;
			line-height: 1.15em;

			span {
				background: #f8ea1b;
			}
		}
	}

	&__image {
		line-height: 0;

		&._left {
			margin-left: -128px;
			text-align: left;
		}

		&._right {
			margin-right: -88px;
			text-align: right;
		}

		img {
			max-width: 100%;
		}
	}

	&__more {
		text-align: center;
	}

	@media (max-width: 1919px) {
		margin-bottom: 60px;

		&__title {
			max-width: 636px;

			&._company {
				padding-left: 100px;
			}
		}

		&__photo {
			margin-bottom: 95px;

			img {
				margin-left: 0;
			}
		}

		&__list {
			margin-bottom: 56px;
		}

		&__item {

			&._responsibility {
				margin-top: 28px;
			}

			&._opennes {
				margin-top: 100px;
			}

			&._uncompromising {
				margin-top: 84px;
			}
		}

		&__image {

			&._left {
				margin-left: -146px;
			}

			&._right {
				margin-right: -45px;
			}
		}
	}

	@media (max-width: 1365px) {

		&__title {

			&._company {
				padding-left: 25px;
			}
		}

		&__image {

			&._left {
				margin-left: -25px;
			}

			&._right {
				margin-right: 0;
				margin-left: -25px;
			}
		}
	}

	@media (max-width: 999px) {

		&__title {
			max-width: 680px;
			padding-left: 130px;
			box-sizing: border-box;
		}

		&__item {

			&._responsibility {
				margin-top: 0;
				margin-bottom: 105px;
			}

			&._uncompromising {
				margin-top: 68px;
			}
		}
	}

	@media (max-width: 767px) {
		padding: 0 48px;
		margin-bottom: 134px;

		&__title {
			padding: 0;
			max-width: 580px;

			&._company {
				font-size: 30px;
				padding-left: 0;
				margin-bottom: 51px;
			}
		}

		&__photo {
			margin-bottom: 70px;
		}

		&__list {
			padding-left: 26px;
		}

		&__item {
			width: 46%;

			//h4 {
			//
			//	svg,
			//	img {
			//		display: none;
			//	}
			//}

			&._trust {
				margin-bottom: 54px;
			}

			&._uncompromising {
				margin-top: 48px;
			}
		}
	}

	@media (max-width: 600px) {
		margin-bottom: 80px;

		&__list {
			padding: 0;
			margin-bottom: 17px;
		}

		&__item {
			width: auto;

			&._left,
			&._right {
				float: none;
			}

			&._trust,
			&._responsibility,
			&._opennes,
			&._uncompromising {
				margin: 0 0 32px;
			}

			&._image {
				display: none;
			}

			h4 {
				padding-left: 25px;

				svg,
				img {
					left: 0;
				}
			}
		}

		&__image {
			display: none;
		}
	}

	@media (max-width: 335px) {
		padding: 0 30px;

		&__title {
			margin-bottom: 30px;
		}

		&__photo {
			margin: 0 -30px 45px;
		}
	}
}