.promo {
	height: calc(100vh - 96px);
	padding-bottom: 48px;
	margin-bottom: 127px;
	box-sizing: border-box;
	background: #eee linear-gradient(-23deg, rgba(0,0,0,.2), rgba(255,255,255,.2));
	position: relative;

	&__item {
		height: calc(100vh - 96px);
		position: relative;
	}

	&__image {
		margin-left: 40%;
		display: inline-block;
		vertical-align: top;
		height: 100%;
	}

  &__inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	padding-left: 18%;
  }

  &__person {
	margin-bottom: 20px;
	padding-left: 23px;
	@include font-fpt-medium();
	font-size: 15px;
	line-height: 1em;
  }

  &__slogan {
	@include font-rp-medium();
	font-size: 66px;
	line-height: 60px;
	text-transform: uppercase;

	span {
	  padding: 5px 10px 5px 23px;
	  display: inline-block;
	  vertical-align: top;
	  background: #fff;
	}

	a {
	  display: inline-block;
	  vertical-align: top;
	  color: #8dcd5a;
	  text-decoration: none;
	  border-bottom: 2px solid #8dcd5a;
	}
  }

  &__ornament {
	padding: 16px 0 0 26px;
  }

  .slider-nav {
	position: absolute;
	top: 50%;
	z-index: 1;
	margin-top: -11px;
	width: 14px;
	height: 14px;
	border: none;
	outline: none;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	background: transparent;

	&._prev {
	  left: 35px;
	  transform: rotate(45deg);
	}

	&._next {
	  right: 35px;
	  transform: rotate(225deg);
	}
  }
}