.promo {
	height: calc(100vh - 96px);
	padding-bottom: 48px;
	margin-bottom: 127px;
	box-sizing: border-box;
	background: #eee linear-gradient(-23deg, rgba(0,0,0,.2), rgba(255,255,255,.2));
	position: relative;

	&__item {
		height: calc(100vh - 96px);
		position: relative;
		text-align: center;

		&>img {
			display: inline-block;
		}
	}

	&__image {
		margin-left: 20%;
		display: inline-block;
		vertical-align: top;
		height: 100%;
	}

  &__inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: left;
		padding-left: 18%;
  }

  &__person {
		margin-bottom: 20px;
		@include font-fpt-medium();
		font-size: 15px;
		line-height: 1em;

		span {
			padding: 2px 5px;
		}
  }

  &__slogan {
		@include font-rp-medium();
		font-size: 66px;
		line-height: 60px;
		text-transform: uppercase;

		span {
			padding: 2px 5px;
			display: inline-block;
			vertical-align: top;
			background: #fff;
		}

		a {
			display: inline-block;
			vertical-align: top;
			color: #8dcd5a;
			text-decoration: none;
			border-bottom: 2px solid #8dcd5a;
		}
  }

  &__ornament {
		padding: 16px 0 0 26px;
  }

  .slider-nav {
		position: absolute;
		top: 50%;
		z-index: 1;
		margin-top: -11px;
		width: 14px;
		height: 14px;
		border: none;
		outline: none;
		border-left: 1px solid #000;
		border-bottom: 1px solid #000;
		background: transparent;

		&._prev {
			left: 35px;
			transform: rotate(45deg);
		}

		&._next {
			right: 35px;
			transform: rotate(225deg);
		}
  }

	@media (max-width: 1919px) {
		margin-bottom: 109px;

		&__inner {
			padding-left: 12%;
		}

		&__person {
			margin-bottom: 5px;
		}

		&__slogan {
			font-size: 56px;
			line-height: 54px;

			//span {
			//	padding: 2px 15px;
			//}
		}
	}

	@media (max-width: 1365px) {

		&__item {
			text-align: right;
		}

		&__image {
			margin-left: 0;
			margin-right: 6.5%;
		}

		&__person {
			padding: 0;

			//span {
			//	padding: 0 18px;
			//	line-height: 22px;
			//}
		}
	}

	@media (max-width: 999px) {
		height: calc(100vh - 48px);
		padding-bottom: 0;
		margin-bottom: 70px;

		&__item {
			height: calc(100vh - 48px);
			text-align: center;
		}

		&__image {
			margin: 0;
		}
	}

	@media (max-width: 999px) and (orientation: portrait) {
		height: auto;

		&__item {
			height: auto;

			&:before {
				content: '';
				display: block;
				width: 100%;
				padding-top: 86.54354%;
			}
		}

		&__image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: -1;
			height: auto;
			width: 100%;
		}
	}

	@media (max-width: 767px) {

		&__inner {
			justify-content: flex-end;
			padding: 0 0 60px 20px;
		}

		&__person {
			padding: 0;

			span {
				line-height: 22px;
				background: #fff;
			}
		}

		&__slogan {
			font-size: 34px;
			line-height: 34px;
		}

		&__ornament {
			display: none;
		}

		.slick-dots {
			padding-left: 34px;
			bottom: 34px;
			text-align: left;
		}
	}

	@media (max-width: 767px) {
		margin-bottom: 38px;
	}
}