.sandwich {
	display: none;
	width: 27px;
	height: 8px;
	box-sizing: border-box;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	cursor: pointer;

	@media (max-width: 767px) {
		display: block;
	}
}