/*typography*/
.text-reg {
  font-family: Proxima-Nova-Reg, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.text-semibold {
  font-family: Proxima-Nova-Semibold, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.text-xs {
  @extend .text-reg;
  font-size: $fz-xs;
}

.text-xxs-common {
  @extend .text-reg;
  font-size: $fz-xxs;
  color: $color-torea-bay;

  a {
    color: $color-torea-bay;
  }
}

.text-xs-common {
  @extend .text-reg;
  font-size: $fz-xs;
  color: $color-torea-bay;

  a {
    color: $color-torea-bay;
  }
}

.text-semibold-xxs-red {
  @extend .text-semibold;
  font-size: $fz-xxs;
  color: $color-red-radical;

  a {
    color: $color-red-radical;
  }
}

.text-semibold-xs-common {
  @extend .text-semibold;
  font-size: $fz-xs;
  color: $color-torea-bay;

  a {
    color: $color-torea-bay;
  }
}

.text-semibold-sm-common {
  @extend .text-semibold;
  font-size: $fz-sm;
  color: $color-torea-bay;

  a {
    color: $color-torea-bay;
  }
}

.text-sm-common {
  @extend .text-reg;
  font-size: $fz-sm;
  color: $color-torea-bay;

  a {
    color: $color-torea-bay;
  }
}

.text-md {
  @extend .text-reg;
  font-size: $fz-md;
}

.text-semibold-md {
  @extend .text-semibold;
  font-size: $fz-md;
}

.text-semibold-md-common {
  @extend .text-semibold;
  font-size: $fz-md;
  color: $color-torea-bay;
}

.text-md-common {
  @extend .text-reg;
  font-size: $fz-md;
  color: $color-torea-bay;
  line-height: 1.33em;

  a {
    color: $color-torea-bay;
  }
}

//text-colors
.white {
  color: #fff;

  a {
    color: #fff;
  }
}

.red-radical {
  color: $color-red-radical;
}

//line-height
.lh-1-5 {
  line-height: 1.5em;
}

.lh-2 {
  line-height: 2em;
}

.lh-3 {
  line-height: 3em;
}
/*/typography*/