/*variables*/
//colors
$color-red-radical: #f92855;
$color-torea-bay: #142e99;
$color-alto: #dddddd;

//widths
//block-width
$block-width: 256px;
$block-ipad: 832px;
//main-widths
$width-xxlg: 1920px;
$width-xlg: 1440px;
$width-lg: 1280px;
$menu-lg: 1248px;
$footer-lg: 1224px;
$container-lg: 1120px;
$width-xs: 320px;
$width-sm: 640px;
$height-xs: 568px;
//iPhone 4
$height-iphone-4: 480px;
//iPhone SE
$width-iphone-se: 320px;
$height-iphone-se: 568px;
//tags widths
$tags-width-sm: 640;
$tags-width-lg: 1280;
$tags-width-md: 736;
$tags-width-xlg: 1440;

//font-size
$fz-xxs: 12px;
$fz-xs: 16px;
$fz-sm: 18px;
$fz-md: 24px;
/*/variables*/