.news-item {

	&__date {
		display: block;
		@include font-fpt-book();
		font-size: 12px;
		line-height: 1.2em;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	&__title {
		@include font-fpt-bold();
		font-size: 22px;
		line-height: 1.2em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__preview {
		@include font-gp-pro();
		font-size: 14px;
		line-height: 1.2em;
	}

	&._pinned {

		.news-item {

			&__title {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 3px;
					left: -14px;
					width: 3px;
					height: 16px;
					background: #f39200;
				}
			}
		}
	}

	@media only screen and (max-width: 1919px) {

		&__title {
			font-size: 18px;
		}
	}

	@media only screen and (max-width: 1365px) {

	}
}