mixin case-mixin()
	.case#case
		.case__wrapper
			.case__content.js-grid-content
				a(href="#").case__back Back to corporate events
				h2 The evening in lion palace
				.case__ornament
					img(src="img/case-title-ornament.png", alt="case-title-ornament")
				.case__text
					|#[b Количество гостей:] 300 человек<br>
					|#[b Формат:] Церемония награждения<br>
					|#[b Цель:] Создание имиджевого корпоративного события, как внутреннего мотивационного инструмента<br>
					<br>
					b Задачи:
					ul
						li Разработка авторской креативной концепции
						li Разработка системы голосования
						li Разработка фирменного стиля события
						li Создание оригинального сценария и режиссура события
						li Разработка логистики проекта
						li Создание и адаптация художественных номеров
						li Букинг артистов и хедлайнеров
						li Управление и менеджмент проекта
					b Цифры проекта:
					ul
						li 45 дней подготовки,
						li 60 минут авторского видеоконтента,
						li Часовое постановочное шоу
					p В рамках подготовки и реализации проекта командой V-events был создан фирменный стиль события, видеодекорации, разработан авторский сценарий, осуществлена режиссерско-постановочная работа, разработана логистика проекта и его комплексное управление.
					ul
						li #[b Количество гостей:] 300 человек
						li #[b Формат:] Церемония награждения
						li #[b Цель:] Создание имиджевого корпоративного события, как внутреннего мотивационного инструмента
					b Задачи:
					ul
						li Разработка авторской креативной концепции
						li Разработка системы голосования
						li Разработка фирменного стиля события
						li Создание оригинального сценария и режиссура события
						li Разработка логистики проекта
						li Создание и адаптация художественных номеров
						li Букинг артистов и хедлайнеров
						li Управление и менеджмент проекта
					b Цифры проекта:
					ul
						li 45 дней подготовки,
						li 60 минут авторского видеоконтента,
						li Часовое постановочное шоу
					p В рамках подготовки и реализации проекта командой V-events был создан фирменный стиль события, видеодекорации, разработан авторский сценарий, осуществлена режиссерско-постановочная работа, разработана логистика проекта и его комплексное управление.
				.case__share Share
					a(href="#")
					a(href="#")
					a(href="#")
		#case-slider.case__slider.js-slider.js-grid-slider
			each val, index in ["1", "2", "3"]
				.case__slide.js-slider-item
					.case__slide-image(style="background-image: url(img/case-slide-1.jpg)")