mixin company()
	.company#company
		.company__container.clearfix
			h2.company__title Company
			.company__up.clearfix
				h3.company__definition V-events is a full-service event agency with headquarters in Saint Petersburg.
				p.company__text._right Our team provides comprehensive services to corporate clients, generates a corporate strategic event calendar and organizes large-scale event projects of various complexity in Russia and abroad. V-events is an open young company. We are always ready for a dialogue and for solving difficult and complex problems. Every day we analyze the experience of specialists all over the world and monitor trends in the event sphere, providing modern solutions and instruments.
				p.company__text._right V-events values its client relationships which are based upon trust and respect, without which it is impossible to create, develop and solve the most difficult tasks efficiently.<br>
					|We appreciate our multi-format international team which includes the best certified professionals who are working at the biggest event projects around the world. We are interesting people and we like to spend nights creating the events which will become the history of your brand, your success story.
			.company__down.clearfix
				.company__image
					img(src='img/director.jpg', alt='director')
				p.company__subtitle._left Dear friends! When we started our way a couple of years ago we had a clear understanding that we wanted to change the existing event market - to make it different, more modern, conceptual and open.
				p.company__text._left We believed that it was possible, because our international team with huge pooled experiences couldn’t work by existing patterns. This adherence to our principles, the desire to be unlike others and the striving to change this sphere urged us to work for a year and a half as an analytical group which accumulated and summarized best international experience of colleagues from Hong-Kong, the USA, the UK and through this analysis we came to our own solutions which can really be called unique.
				p.company__text._right As a result we designed the in-house client services system; have an opportunity to learn and exchange experience of our specialists with colleagues from all over the world; implement best practices of services for corporate clients; create V-events University education platform and V-events club of loyal clients and partners. But the main thing is that our clients believed in a young and ambitious team and gave us an opportunity to demonstrate what V-events is. You set impossible tasks and we managed to make these outstanding and effective projects, each of which was unique.
				p.company__text._right We thank you for trust, courage and openness, for perfectionism and love of life and for the opportunity to say today that we don’t just organize gatherings, we create events!

				.company__signature General director Egor Gorshkov