mixin contacts()
	.contacts#contacts
		.contacts__container
			h2.contacts__title Contacts
			.contacts__tel
				p Multichannel Contact Center
				a(href='tel:8 (812) 924-63-26') 8 (812) 924-63-26
			ul.contacts__list
				li Collaboration offers #[span (performers, artists, contractors): ]
					a(href='mailto:info@v-events.ru') info@v-events.ru
				li General director: #[a(href='mailto:general@v-events.ru') general@v-events.ru]
				li Creative director: #[a(href='mailto:art@v-events.ru') art@v-events.ru]
				li Team work: #[a(href='mailto:hr@v-events.ru') hr@v-events.ru]