mixin footer()
	footer.footer
		-
			var footerList = [
				'WHAT WE <br>REALY CARE ABOUT',
				'JOIN <br>V-EVENTS <br>CLUB',
				'ORGANIZE <br>THE EVENT',
				'ABOUT <br>V-EVENTS <br>UNIVERSITY'
			]
		each val, index in footerList
			a(href='#', style="background-image: url('img/footer-img-#{index}.jpg')").footer__item
				//-img(src='img/footer-img-#{index}.jpg')
				h4!= val
					span know more