mixin footer()
	footer.footer#footer
		-
			var footerList = [
				'WHAT WE <br>REALY CARE ABOUT',
				'JOIN <br>V-EVENTS <br>CLUB',
				'ORGANIZE <br>THE EVENT',
				'ABOUT <br>V-EVENTS <br>UNIVERSITY'
			]
		each val, index in footerList
			a(href='#').footer__item
				.footer__item-bg(style="background-image: url('img/footer-img-#{index}.jpg')")
				h4!= val
					span know more

	script(src='js/jquery-3.0.0.min.js')
	script(src='js/jquery-ui.min.js')
	script(src='js/slick.min.js')
	script(src='js/TweenMax.js')
	script(src='js/ScrollMagic.js')
	//script(src='js/debug.addIndicators.js')
	script(src='js/animation.gsap.js')
	script(src='js/script.js')