include ../includes/content-title

mixin portfolio()
	.portfolio#portfolio(class=attributes.class)
		.select.portfolio__select.js-select
			+content-title('Portfolio')
			select(name="portfolio-select", data-cases-select='')
				option(value='Corporate events', selected) Corporate events
				option(value='Special events') Special events
				option(value='Trade events') Trade events
		-
			var lists = [
				{
					"title": "Corporate events",
					"mixer": 10
				},
				{
					"title": "Special events",
					"mixer": 7
				},
				{
					"title": "Trade events",
					"mixer": 4
				}
			]
		each val in lists
			.portfolio__list(data-cases-list='#{val.title}')
				-var i = 9
				while i >= 0
					a(href='#').portfolio__item
						img(src="img/portfolio-item-img-#{9 - (i%val.mixer)}.jpg")
						.portfolio__item-title The evening<br>in lion palace
							span show
					-i--
				.portfolio__more
					+btn-more('Move to portfolio')
