mixin sessions-list()
    .sessions-list
        each val in ['Первая', 'Вторая', 'Третья', 'Четвертая']
            .sessions-list__item
                .sessions-list__btn
                    span 12.12.2017
                    h4 #{val.title} сессия