mixin share()
	.share.js-share Share
		a(href="#").js-share-fb
			img(src='img/svg/fb-share.svg')
		a(href="#").js-share-vk
			img(src='img/svg/vk-share.svg')
		//-a(href="#").js-share-
			img(src='img/svg/li-share.svg')